@model IEnumerable<PSClubs.Models.Artist>

@{
    ViewData["Title"] = "Index";
}
<div class="alert alert-danger" role="alert">@TempData["NoSelectedCountryError"]</div>

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinimumHourlyRate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="PSGroupMembers" asp-action="GroupMemberWithNamesIndex" asp-route-id="@item.ArtistId" asp-route-Name="@item.FullName">@Html.DisplayFor(modelItem => item.FullName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimumHourlyRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameAddress.NameAddressId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ArtistId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ArtistId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ArtistId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
