@model PSClubs.Models.GroupMember
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = $"details for {Context.Session.GetString("name")}";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>GroupMember</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateJoined)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateJoined)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateLeft)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateLeft)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistIdGroupNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArtistIdGroupNavigation.ArtistId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistIdMemberNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArtistIdMemberNavigation.ArtistId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
